<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sentiment Analysis</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <form action="../" method="POST">
            <textarea class="form-control" rows="5" name="text"></textarea>
            <input type="submit" class="btn btn-primary" name="my-form" value="Send">
        </form>
    </div>



<div class="container">
  <h2>Various Algorithms and their output</h2>
  <!--<p>The .table-bordered class adds borders to a table:</p>-->
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
            <strong> Naives Bayes - my implementation</strong>
            {% if my_output=="POS" %}
            <div class="alert alert-success" role="alert">
                    <strong>Positve</strong>
            <!--<div class="progress"><progress class="progress-bar bg-success"  id="progBar" value="10" max="100" /></div>-->
            </div>
            {% endif %}
            {% if my_output=="NEG" %}
            <div class="alert alert-danger" role="alert">
                <strong>Negative</strong>

            <!--<div class="progress"><progress class="progress-bar bg-success"  id="progBar" value="10" max="100" /></div>-->
            </div>
            {% endif %}
        </td>
        <td>
            <strong> Naives Bayes - NLTK implementation </strong>
            {% if nb_output=="positive" %}
            <div class="alert alert-success" role="alert">
                    <strong>Positve</strong>
            <!--<div class="progress"><progress class="progress-bar bg-success"  id="progBar" value="10" max="100" /></div>-->
            </div>
            {% endif %}
            {% if nb_output=="negative" %}
            <div class="alert alert-danger" role="alert">
                <strong>Negative</strong>
            <!--<div class="progress"><progress class="progress-bar bg-success"  id="progBar" value="10" max="100" /></div>-->
            </div>
            {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>




</body>
</html>